:root{
    --gr-color:
    linear-gradient(to right bottom, #fdac55, #fea153, #ff9653, #ff8b54, #ff7f56);
    --bgColor:#797c7d;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    font-family: Roboto, sans-serif;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7567b;
}
.container{
    position: relative;
    max-width: 750px;
    width: 65%;
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    border-radius: 1.2em;
    justify-content: space-between;
    align-items: center;
    padding: 3em .5em;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
section span{
    display: block;
    color: var(--bgColor);
    font-size: 0.8em;
    cursor: pointer;
}
section span:hover{
    text-decoration:underline;
}
section form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}
section form > div {
    position: relative;
    display: flex;
    align-items: center;
}
section form input:not(input[type="submit"]){
    background-color: #eaeff5;
    border: 1px solid transparent;
    border-radius: .5em;
    padding: 0.8em 1em 0.8em 2.8em;
    font-size: .9em;
    width: 100%;
    outline:none;
    color: var(--bgColor);
}
section form input:not(input[type="submit"]):focus{
    border: 1px solid #ff8e54;
}
section form input::placeholder{
    font-size: .85em;
    color: #797c7d;
}
section form i{
    position: absolute;
    left: 12px;
    color: #797c7d;
}
section form input[type="submit"]{
    color: white;
    background: var(--gr-color);
    border: 1px solid transparent;
    border-radius: 1em;
    font-size: 1.1em;
    padding: .8em;
    font-weight: bold;
    cursor: pointer;
    margin: 0.5em 0;
}
section form input[type="submit"]:hover{
    background: var(--gr-color);
    background-clip:text;
    -webkit-text-fill-color:transparent;
    border: 1px solid var(--bgColor);
}
.signIn i.fa-user-circle-o{
    margin-top: 0.15em;
    font-size: 5em;
    background: var(--gr-color);
    background-clip:text;
    -webkit-text-fill-color:transparent;
}
.signIn form {
    margin-top: 2em;
}
.signIn form .forgotPass{
    
    align-self: flex-end;
}
.signUp{
    margin-top: 2.3em;
}
.signUp form{
    margin-top: 2em;
}

.information{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    padding: 1em;
    z-index: 1;
    background-image:var(--gr-color);
    border-bottom-left-radius: 1.2em;
    border-top-left-radius: 1.2em;
    overflow: hidden;
    transition: left 0.8s cubic-bezier(.65,.05,.36,1);
}
.information .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
    gap: 2em;
    color:white;
}
.information .content img{
    width: 50%;
}
.information.sign{
    border-bottom-left-radius: 0em;
    border-top-left-radius: 0em;
    border-bottom-right-radius: 1.2em;
    border-top-right-radius: 1.2em;
    left: 50%;
    animation-name: identifier;
    animation-duration: 0.8s;
}
  